@import url("css/components/banner.css");
@import url("css/components/avatar.css");
@import url("css/components/footer.css");

.container{
    width: 1024px;
    margin: auto;
    border:grey;
    border-style: groove;
    border-radius: 5%;
    border-width: 2px;
    max-width: 100%;
    max-height: 100%;
    padding: 2%;
}
body {
    background-color:rgb(63, 132, 169);
    background-position: center;
    text-align: center;
    margin: 0;
}

h1 {
    padding: 0;
    color:  rgb(193 198 230);/*rgb(164 165 197);*/
    text-shadow: 13px 16px 9px 2px rgba(126, 79, 79, 0.63);
}
h2 {
    text-align: left;
}
h3 {
    color:black;
}
img {
   /* padding: 20px;
   /* top:-25;*/
    object-position: center;
    border-radius: 5em;
}
article {
    display: block;
    text-align: justify;
}
a {
    text-decoration: none;
}
.slider {
    overflow: scroll;
    height: 10em;
}
.item {
    border-radius: 1px;
}
.card {
    text-shadow: darkgray;
    color: rgb(100, 58, 58);
    background-color: rgb(193 198 230);
    margin-block: 2em;
    padding: 2em;
    max-width: 90%;
    box-shadow: 13px 16px 9px 2px rgba(0,0,0,0.63);
    box-sizing: border-box;
}
.tech {
    right: -55%;
    position:relative;
    width: 20%;
    height: 60%;
    padding: 10px;
    background-image: url("images/fondtech1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.formation {
    position:relative;
    color:rgb(178, 211, 240);
    background-color: rgb(4, 29, 61);
    padding: 20px;
    margin-block: 2em;
    border-radius: 195px 5px 250px 68px;
    width: 20em;
}
.formation p {
    text-align: left;
}
.formation a {
    color: rgb(126, 113, 97);
}
.formation li{
    font-size: 92%;
}
.card1{
    background-image: url("images/fondtech2.jpg");
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    color: rgb(193 198 230);
    width: 30em;
    padding: 20px;
    text-shadow: 2px 2px 20px rgb(78, 39, 28);
}

