.banner {
    /* background-image: url("../../images/background.jpeg"); */
    background-size: cover;
    background-position: center;
    padding: 5px 0;
}
.banner h1 {
    color: rgb(100, 86, 117);
    font-size: 2em;
    background-color: rgba(0,0,0,0.2);
}
  
.banner p {
    color: rgb(140 180 197); /*rgb(95,89, 110);*/
    font-size: 2em;
    font-weight: 500;
    background-color: rgba(30, 35, 35, 0.2);
}

.container{
   /* width: 1400px;*/
    margin: 0 auto;
    color: white;
}
  